<form *ngIf="!readonly" class="form" [formGroup]="form" (submit)="onSubmit()">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-5 mx-auto">
        <h1 class="text-center" *ngIf="isNewCocktail()">Create Cocktail</h1>
        <h1 class="text-center" *ngIf="!isNewCocktail()">Update Cocktail</h1>
        <br>
        <div class="form-group row">
          <app-upload-photo [(fileUrl)]="cocktail.imageSrc" (urlChange)="urlChange($event)"></app-upload-photo>
        </div>
        <div class="form-group row">
          <input class="col-10" class="form-control" type="text" [formControl]="form.get('name')" 
          [(ngModel)]="cocktail.name" placeholder="Name"/>
          <div class="error" *ngIf="isControlInvalid('name')">
            <i class="text-danger" translate> ConspectNameInvalid </i>
          </div>
        </div>
        <div class="form-group row">
          <input class="col-10" class="form-control" type="text" [formControl]="form.get('degrees')"
           [(ngModel)]="cocktail.degrees" placeholder="Degrees"/>
          <div class="error" *ngIf="isControlInvalid('degrees')">
            <i class="text-danger" translate>ConspectNumberInvalid</i>
          </div>
        </div>
        <div class="form-group row">
          <input class="col-10" class="form-control" type="text" [formControl]="form.get('amount')" 
          [(ngModel)]="cocktail.amount" placeholder="Amount"/>
          <div class="error" *ngIf="isControlInvalid('amount')">
            <i class="text-danger" translate> ConspectNameInvalid </i>
          </div>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary" translate>Save cocktail</button>
        <button *ngIf="!isNewCocktail()" type="button" (click)="delete()" class="btn btn-primary" translate>Delete cocktail</button>
        <br/>
        <app-ingredients-list url="/ingredient" readonly="false" (selectedItemsChanges)="ingredientsChange($event)" [selectedItems]="cocktail.ingredients"></app-ingredients-list>
      </div>
    </div>
  </div>
</form>
<div *ngIf="readonly" class="container h-100 border">
    <div class="row align-items-center h-100">
      <div class="col-5 mx-auto">
        <br>
        <div class="form-group row">
          <app-upload-photo [fileUrl]="cocktail.imageSrc" readonly="true"></app-upload-photo>
        </div>
        <div class="form-group row">
          {{cocktail.name}}
        </div>
        <div class="form-group row">
          Strength: {{cocktail.degrees}} degrees
        </div>
        <div class="form-group row">
          Amount: {{cocktail.amount}} ml
        </div>
        <div class="form-group row">
          Author: {{cocktail.username}}
        </div>
        <br/>
        <app-ingredients-list [selectedItems]="cocktail.ingredients"></app-ingredients-list>
      </div>
    </div>
  </div>